/* Clearfix */

 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }

 .cf {
     *zoom: 1;
 }

/* Clearfix */

#container {
  background-color: #3d3d3d;
  height: auto;
}

.setuppc {
  background-color: black;
  margin: 100px;
  text-align: center;
  border-bottom: 1px solid #44d62c;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  height: auto;
}

.modal {
  z-index: 1;
  display: none;
  /* padding: 30px; */
  /* margin: 300px; */
  position: conter;
  left: 0;
  top: 0;
  width: 15%;
  height: 15%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  margin: auto;
  display: block;
  position: center;
}

.modal-hover-opacity {
  opacity: 1;
  filter: alpha(opacity=50);
  -webkit-backface-visibility: hidden;
}

.modal-hover-opacity:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-backface-visibility: hidden;
}

.close {
  text-decoration: none;
  float: right;
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-left: 30px;
  margin-bottom: 10px;
}

.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.3s;
  animation-name: zoom;
  animation-duration: 0.3s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(0.5);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(0.5);
  }
}
#container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas: 
        'image4 image-gallery';
}


.image-gallery{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: auto;
grid-gap: 10px;
grid-template-areas:
        'img-1'
        'img-2'
        'img-3';
}


.image-gallery img{
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 5px;
}
.image4{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas:
          'img-4'
          'img-4'
          'img-4';
  }
.image4 img{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
